.header{
  font-size:40px;
}
.iconimg{
  vertical-align:-8px;
  margin-right:10px;
  margin-top:2px;
  background-color: yellow;
  border-radius: 20px;
}

#title{
    text-decoration:none;
    font-size:40px;
}

.react{
    background-color: yellow;
    margin-top:20px;
    text-align: center;
}

.sense-finder{


}

.info-box{
    width: 10%;
    background-color: gray;
    color: black;
    text-align: center;
    position: fixed;/*←絶対位置*/
    bottom: 20px; /*下に固定*/
    border: solid 1px black;
    border-radius: 20%;
}

.weather-box{
	text-align: center;
}
.weather-img{
    width: 50px;
    height: 50px;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1020px) {
	.cover-img {
		height: 800px;
	}
	#title{
	font-size: 40px;
	}
	.news{
	width:600px;
	}
	.react{
	margin-top:20px;
	}
}

/* タブレット用のCSS */
@media only screen and (max-width : 1020px) {
	.cover-img {
		height: 500px;
	}
	#title{
	font-size: 30px;
	}
	.news{
	width:500px;
	}
	.react{
	margin-top:20px;
	}
	.info-box{
	display: none;
	}
}


/* スマホ用のCSS */
@media only screen and (max-width: 767px) {
	.cover-img {
		height: 50%;
	}
	#title{
	font-size: 20px;
	}
	.news{
	width:350px;
	}
	.react{
	margin-top:20px;
	}
	.info-box{
	display: none;
	}
}
@media only screen and (max-width: 576px) {
	.cover-img {
		height: 50%;
	}
	#title{
	font-size: 40px;
	}
	.news{
	width:400px;
	}
	.react{
	margin-top:20px;
	}
	.info-box{
	display: none;
	}
}