{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
    <div id="react" class="col-12 col-sm-9 px-0">
      <div id="testapp" class="columns"><!-- React --></div>
      <br>
      <form method="get" action="receive_post">
      <label>{{ form.your_name.label }}{{ form.your_name }}</label><br>
      <label>{{ form.zip_code.label }}{{ form.zip_code }}</label><br>
      <input type="submit" value="送信" />
      </form>

      {{ your_name }}

      {{ zip_code }}の住所は、{{ address }}

      <br>

    </div>
{% endblock %}
